<% provide(:title, "Sample Blog Post") %>
<% provide(:image, "post-bg.jpg") %>


<!-- Post Content -->
<article>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <% if logged_in? %>
            <%= link_to "Create New Post", new_user_blog_post_path(current_user), class: "btn btn-primary" %>
        <% end %>
        <%= render partial: 'blog_post', locals: { posts: @posts} %>          
        </div>
    </div>
    </div>
</article>

<hr>

