<% provide(:title, "All User") %>
<% provide(:image, "home-bg.jpg") %>


<!-- Main Content -->
<article>
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h5> All User </h5>
            <table class="table-bordered">
                <thead>
                    <tr class="d-flex">
                        <th class="col-3"> Name </th>
                        <th class="col-3"> Edit </th>
                        <th class="col-3"> Post </th>
                        <th class="col-3"> Delete </th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr class="d-flex">
                            <td class="col-3"><%= user.name %></td>
                            <td class="col-3"><%= link_to "Show", user, class: "btn btn-info" %></td>
                            <td class="col-3"><%= link_to "Post", user_blog_posts_path(user), class: "btn btn-primary" %></td>
                            <td class="col-3"><%= link_to "Delete User", user, method: :delete,
                                    data: { confirm: "You sure?" }, class: "btn btn-danger" %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>    
    </div>
</article>

<hr>

